/* Css-code that is common for all screen-sizes, and values for windows of sizes bigger than 1200px */
/* Sorted in alphabethic order with tags first, then classes. At the end are media-queries. */

body{
  background-color: #d2cfe4;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  font-family: Georgia, 'Times New Roman', Times, serif, serif;
}

button{
  color:black;
  border-radius: 0.3vw;
  padding: 0.5vw 1vw;
  margin: 0.1vw;
  margin-left: 1vw;
  font-size: 14px;
  font-weight: bold;
  background-color: #8fa0c9;
  cursor: pointer;
}

button:hover{
  background-color: #0f106d;
  color: white;
}

h4{
  margin: 0;
}

input[type=radio]{
  width: 13px;
  height: 13px;
  cursor: pointer;
}

q{
  text-align: center;
}

.activeDot{
  background-color: rgba(100,100,100,0.8) !important;
}

.box{
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.col{
  flex-direction: column;
  align-items: center;
  height: 35vw;
}

.dot {
  height: 2vw;
  width: 1vw;
  margin: 0vw 2vw 0.5vw 2vw;
  background-color: #bbb;
  display: flex;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  border: none;
}

.dot:hover {
  background-color: rgba(100,100,100,0.8);
}

.dot:active {
  background-color: rgba(200,200,200,0.8);
}

/* Inspiration to footer from https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
.footer { 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0f106d;
  display: flex;
  justify-content: center;
}

.header { 
  font-weight: bold;
  font-size: 30px;
  color: white;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #0f106d; 
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.image{
  width: 44vw;
  height: 35vw;
}

.main{
  width: 80vw;
  padding-bottom: 3vw;
  padding-top: 3vw;
  border: solid;
}

.navDots{
  display: flex;
}

.prevBtn, .nextBtn{
  background: #444;
  color: #fff;
  border: none;
  padding: 1.5vw 1vw;
  margin: auto;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.prevBtn:hover, .nextBtn:hover {
  background-color: rgba(0,0,0,0.8);
}

.prevBtn:active, .nextBtn:active {
  background-color: rgba(200,200,200,0.8);
}

.screenBox{
  display: flex;
  flex-wrap: nowrap;
  padding-top: 55px;
}

.sidebar {
  display: inline-block;
  width: 14vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.sidebarButtons{
  display: flex;
  flex-direction: column;
}

.sidebarCollection{
  font-size: 15px;
  padding-bottom: 1vw;
}

.sidebar label{
  cursor: pointer;
}

.slideButtonContainer{
  display: flex;
  height: 35vw;
}

.sound{
  width: 25vw;
  height: 100%;
}

.svg-image{
  width: 100%;
  height: 100%;
}

.text{
  width: 25vw;
  flex-direction: column;
  font-size: 16px;
  border: #0f106d dotted;
}


/* Source of first four sizes: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
/* Large devices (laptops/desktops, between 992px and 1200px) */
@media only screen and (max-width: 1200px) {
  .image{
    width: 43vw;
  }
}

/* Medium devices (landscape tablets, between 768px and 992px) */
@media only screen and (max-width: 992px) {
  .image{
    width: 42vw;
  } 
}

/* Small devices with portrait-orientation (portrait tablets and large phones, between 600px and 768px) */
@media only screen and (orientation: portrait) and (max-width: 768px) {
  body{
    overflow-y: unset;
  }

  button{
    font-size: 13px;
    width: 20vw;
    margin-bottom: 1vw;
  }

  input[type=radio]{
    width: 11px;
    height: 11px;
    margin-bottom: 1.5vw;
    margin-top: 1.5vw;
  }

  .dot{
    width: 23px;
    height: 23px;
    margin: 5px;
  }

  .header{
    font-size: 26px;
  }

  .image{
    width: 80vw;
    height: 40vh;
  }

  .main{
    width: 92vw;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-top: solid;
  }

  .navDots{
    width: 100vw;
    justify-content: space-evenly;
  }

  .prevBtn, .nextBtn{
    width: auto;
    padding: 2vw 1.5vw;
  }

  .radio{
    width: 28vw;
    padding-right: 2vw;
  }

  .screenBox{
    padding: 0;
  }

  .sidebar{
    display: flex;
    padding-top: 50px;
  }

  .sidebarButtons{
    flex-direction: row;
    justify-content: center;
  }

  .slideButtonContainer{
    height: 70vh;
  }

  .sound{
    width: 80vw;
    margin-bottom: 43px;
  }

  .text{
    width: 80vw;
    font-size: 15px;
  }
}

/* Extra small devices with portrait-orientation (phones, between 410px and 600px) */
@media only screen and (orientation: portrait) and (max-width: 600px) {
  button{
    width: 25vw;
  }
}

/* Even smaller devices with portrait-orientation (phones, 410px and down) */
@media only screen and (orientation: portrait) and (max-width: 410px) {
  button{
    font-size: 12px;
  }
  
  .header{
    font-size: 22px;
  }

  .radio{
    width: 30vw;
    padding: 0;
  }

  .sidebar{
    padding-top: 42px;
  }

  .sidebarCollection{
    font-size: 13px;
  }
}

/* Small devices with landscape-orientation (small tablets and large phones, between 600px and 768px) */
@media only screen and (orientation: landscape) and (max-width: 768px) {
  body{
    overflow-y: unset;
  }

  button{
    font-size: 13px;
    width: 20vw;
    margin-bottom: 1vw;
  }

  input[type=radio]{
    width: 11px;
    height: 11px;
    margin-bottom: 1.5vw;
    margin-top: 1.5vw;
  }

  .dot{
    width: 23px;
    height: 23px;
    margin: 5px;
  }

  .header{
    font-size: 26px;
  }

  .image{
    width: 50vw;
    height: auto;
    max-height: 60vh;
    margin-bottom: 43px;
  }

  .main{
    width: 92vw;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-top: solid;
  }

  .navDots{
    width: 100vw;
    justify-content: space-evenly;
  }

  .prevBtn, .nextBtn{
    width: auto;
    padding: 2vw 1.5vw;
  }

  .radio{
    width: 28vw;
    padding-right: 2vw;
  }

  .screenBox{
    padding: 0;
  }

  .sidebar{
    display: flex;
    padding-top: 50px;
  }

  .sidebarButtons{
    flex-direction: row;
    justify-content: center;
  }

  .slideButtonContainer{
    height: 50vh;
  }

  .sound{
    width: 30vw;
    margin-bottom: 43px;
  }

  .text{
    width: 30vw;
    font-size: 15px;
  }
}

/* Extra small devices with landscape-orientation (phones, between 410px and 600px) */
@media only screen and (orientation: landscape) and (max-width: 600px) {
  button{
    width: 25vw;
  }
}

/* Even smaller devices with landscape-orientation (phones, 410px and down) */
@media only screen and (orientation: landscape) and (max-width: 410px) {
  button{
    font-size: 10px;
  }

  .dot{
    width: 13px;
    height: 13px;
  }
  
  .header{
    font-size: 15px;
  }

  .radio{
    width: 30vw;
    padding: 0;
  }

  .sidebar{
    padding-top: 30px;
  }

  .sidebarCollection{
    font-size: 11px;
  }

  .sound{
    margin-bottom: 30px;
  }

  .text{
    font-size: 12px;
  }
}

/* Medium devices with portrait-orientation (portrait tablets, between 600px and 900px in width) */
@media only screen and (orientation: portrait) and (min-width: 600px){
  body{
    overflow-y: unset;
  }

  button{
    font-size: 19px;
    width: 25vw;
    margin-bottom: 1vw;
    padding: 1vw;
  }

  input[type=radio]{
    width: 20px;
    height: 20px;
    margin-bottom: 1vw;
    margin-top: 1vw;
  }

  .dot{
    width: 35px;
    height: 35px;
    margin: 5px;
  }

  .header{
    font-size: 42px;
  }

  .image{
    width: 80vw;
    height: 40vh;
  }

  .main{
    width: 92vw;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-top: solid;
  }

  .navDots{
    width: 100vw;
    justify-content: space-evenly;
  }

  .prevBtn, .nextBtn{
    width: auto;
    padding: 3vw 2.5vw;
  }

  .radio{
    width: 28vw;
    padding-right: 2vw;
  }

  .screenBox{
    padding: 0;
  }

  .sidebar{
    display: flex;
    padding-top: 65px;
  }

  .sidebarButtons{
    flex-direction: row;
    justify-content: center;
  }

  .sidebarCollection{
    font-size: 20px;
  }

  .slideButtonContainer{
    height: 70vh;
  }

  .sound{
    width: 80vw;
    margin-bottom: 50px;
  }

  .text{
    width: 80vw;
    font-size: 24px;
  }
}

/* Larger devices with portrait-orientation (portrait tablets, 900px and up in width and 1300px and up in height) */
@media only screen and (orientation: portrait) and (min-width: 900px) and (min-height: 1300px){
  button{
    font-size: 27px;
  }

  .dot{
    width: 50px;
    height: 50px;
  }
  
  .header{
    font-size: 55px;
  }

  .sidebar{
    padding-top: 80px;
  }

  .sidebarCollection{
    font-size: 28px;
  }

  .text{
    font-size: 34px;
  }
}